<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--<target name="n4"
            xsi:type="NLogViewer"
            address="tcp://127.0.0.1:878"/>
    </targets>-->
    <target name="n4" xsi:type="File" fileName="${logger}.txt"/>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="n4" />
    <!--<logger name="*" minlevel="Trace" writeTo="logfile" />-->
  </rules>
    </targets>
</nlog>